/* Proprietary IE Gradients */
nav {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f2f2f2');
}
.btn-blue {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#55beec', endColorstr='#388be6');
}
.btn-blue:active {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#388be6', endColorstr='#55beec');
}
.btn-red {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e7705a', endColorstr='#b72234');
}
.btn-red:active {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b72234', endColorstr='#e7705a');
}
.btn-black {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#404040', endColorstr='#0d0d0d');
}
.btn-black:active {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0d0d0d', endColorstr='#404040');
}
.infobar.info {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f3f3f3');
}
.infobar.question {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#55c1ec', endColorstr='#44a2e9');
}
.infobar.warning {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdde76', endColorstr='#fbd058');
}
.infobar.error {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e35d4f', endColorstr='#d33f3d');
}
.ui-slider .ui-slider-range-min {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#535353', endColorstr='#808080');
}
.ui-progressbar {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ababab', endColorstr='#cacaca');
}
.ui-progressbar .ui-progressbar-value {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#515151', endColorstr='#878787');
}