/* ===[ Reset ]=== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, pre, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: #4d4d4d;
    font-family: "Droid Sans", Verdana, Geneva, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body {
    line-height: 1;
    padding: 20px 40px;
}
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button:focus { outline: 0 }

/* ===[ Icon Font ]=== */
@font-face {
    font-family: 'elementary';
    src: url("../fonts/elementary.eot");
    src: url("../fonts/elementary.eot?#iefix") format("embedded-opentype"), url("../fonts/elementary.woff") format("woff"), url("../fonts/elementary.ttf") format("truetype"), url("../fonts/elementary.svg#elementary") format("svg");
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
    font-family: 'elementary';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
[class*="icon-"] {
    font-family: 'elementary';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-up:before { content: "\21" }
.icon-next:before { content: "\22" }
.icon-down:before { content: "\23" }
.icon-previous:before { content: "\24" }
.icon-top:before { content: "\25" }
.icon-last:before { content: "\26" }
.icon-bottom:before { content: "\27" }
.icon-first:before { content: "\28" }
.icon-home:before { content: "\29" }
.icon-folder:before { content: "\2a" }
.icon-harddisk:before { content: "\2b" }
.icon-delete:before { content: "\2c" }
.icon-camera:before { content: "\2d" }
.icon-camcorder:before { content: "\2e" }
.icon-minus:before { content: "\2f" }
.icon-plus:before { content: "\30" }
.icon-error:before { content: "\31" }
.icon-complete:before { content: "\32" }
.icon-close:before { content: "\33" }
.icon-clear-left:before { content: "\34" }
.icon-clear-right:before { content: "\35" }
.icon-twitter:before { content: "\36" }
.icon-facebook:before { content: "\37" }
.icon-starred:before { content: "\38" }
.icon-unstarred:before { content: "\39" }
.icon-phone:before { content: "\3a" }
.icon-music:before { content: "\3b" }
.icon-video:before { content: "\3c" }
.icon-pictures:before { content: "\3d" }
.icon-document:before { content: "\3e" }
.icon-globe:before { content: "\3f" }
.icon-accessibility:before { content: "\40" }
.icon-lock:before { content: "\41" }
.icon-unlock:before { content: "\42" }
.icon-lock-alt:before { content: "\43" }
.icon-unlock-alt:before { content: "\44" }
.icon-restore:before { content: "\45" }
.icon-fullscreen:before { content: "\46" }
.icon-contact:before { content: "\47" }
.icon-contact-new:before { content: "\48" }
.icon-contact-group:before { content: "\49" }
.icon-undo:before { content: "\4a" }
.icon-redo:before { content: "\4b" }
.icon-pane-left:before { content: "\4c" }
.icon-pane-right:before { content: "\4d" }
.icon-export:before { content: "\4e" }
.icon-text-smaller:before { content: "\4f" }
.icon-text-larger:before { content: "\50" }
.icon-justify-right:before { content: "\51" }
.icon-justify-center:before { content: "\52" }
.icon-justify-left:before { content: "\53" }
.icon-justify-fill:before { content: "\54" }
.icon-indent-left:before { content: "\55" }
.icon-indent-right:before { content: "\56" }
.icon-attachment:before { content: "\57" }
.icon-print:before { content: "\58" }
.icon-recent:before { content: "\59" }
.icon-refresh:before { content: "\5a" }
.icon-synchronize:before { content: "\5b" }
.icon-info:before { content: "\5c" }
.icon-jump:before { content: "\5d" }
.icon-download:before { content: "\5e" }
.icon-crop:before { content: "\5f" }
.icon-search:before { content: "\60" }
.icon-signal-none:before { content: "\61" }
.icon-signal-one:before { content: "\62" }
.icon-signal-two:before { content: "\63" }
.icon-signal-three:before { content: "\64" }
.icon-signal-four:before { content: "\65" }
.icon-play:before { content: "\66" }
.icon-pause:before { content: "\67" }
.icon-backward:before { content: "\68" }
.icon-forward:before { content: "\69" }
.icon-eject:before { content: "\6a" }
.icon-shuffle:before { content: "\6b" }
.icon-order:before { content: "\6c" }
.icon-repeat:before { content: "\6d" }
.icon-repeat-one:before { content: "\6e" }
.icon-wifi-off:before { content: "\6f" }
.icon-wifi:before { content: "\70" }
.icon-bluetooth:before { content: "\71" }
.icon-brightness:before { content: "\72" }
.icon-audio:before { content: "\73" }
.icon-toggles:before { content: "\74" }
.icon-gear:before { content: "\75" }
.icon-power:before { content: "\76" }
.icon-column:before { content: "\77" }
.icon-coverflow:before { content: "\78" }
.icon-filter:before { content: "\79" }
.icon-grid:before { content: "\7a" }
.icon-list-compact:before { content: "\7b" }
.icon-list:before { content: "\7c" }

/* ===[ Optional Styles ]=== */
body {
    background: #fff;
    max-width: 1280px;
    padding-bottom: 32px;
}
.logo { margin-bottom: 45px }
.logo img {
    margin-right: 25px;
    vertical-align: middle;
}
.h-section {
    border-top: 1px solid #bfbfbf;
    border-bottom: 4px double #bfbfbf;
    padding: 10px 15px;
    margin: 30px 0;
}
.infobar { width: 360px }
label { line-height: 2.5 }
a.toggle { margin: 10px 0 }
.slider, .progress { max-width: 250px }
.icons li {
    float: left;
    margin-bottom: 22px;
    width: 25%;
}
textarea {
    resize: horizontal;
    max-width: 500px;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea { min-width: 250px }
hr {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: linear-gradient(to right,transparent, rgba(0, 0, 0, 0.75), transparent);
    border: 0;
    height: 1px;
    margin: 32px 0;
}
/* ===[ End Optional Styles ]=== */

/* ===[ Typography ]=== */
h1, h2, h3, h4, h5, h6 { margin: 20px 0 }
h1 { font-size: 40px }
h2 { font-size: 33.33333px }
h3 { font-size: 30px }
h4 { font-size: 26.66667px }
h5 { font-size: 23.33333px }
h6 { font-size: 20px }
p {
    font-size: 16px;
    line-height: 1.66667;
}
blockquote {
    border-left: 4px double #bfbfbf;
    padding: 5px 5px 10px 20px;
}
blockquote p {
    font-family: "Droid Serif", Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    line-height: 2.08333;
}
blockquote p i, blockquote p em { font-style: normal }
blockquote small {
    color: #999999;
    display: block;
    font-size: 12.8px;
    line-height: 1.90476;
}
blockquote small:before { content: '\2014 \00A0' }
a:not(.btn) {
    color: #2576cc;
    text-decoration: none;
}
a:not(.btn):hover { color: #07a6ed }
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #4d4d4d;
}
b, strong { font-weight: bold }
code, pre {
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    color: #1486cc;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}
del {
    opacity: 0.75;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ins {
    background-color: rgba(239, 237, 82, 0.75);
    padding: 2px 4px;
    text-decoration: none;
}
kbd {
    color: #4d4d4d;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #e9e9e9, white);
    background-image: linear-gradient(to bottom,#e9e9e9, white);
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff, inset 0 -2px 0 0 #d9d9d9;
    font-family: "Droid Sans", Verdana, Geneva, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
pre {
    color: #707070;
    padding-left: 15px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
sup, sub { font-size: 75% }
sup { vertical-align: super }
sub { vertical-align: sub }
.pull-left { float: left }
.pull-right { float: right }

/* ===[ Navigation ]=== */
nav {
    background-color: white;
    background-image: -webkit-linear-gradient(top, white, #f2f2f2);
    background-image: linear-gradient(to bottom,white, #f2f2f2);
    border: 1px solid #bfb9b8;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #fff;
    padding: 18px 0 17px;
}
nav li {
    display: inline;
    list-style: none;
    margin-right: -4px;
}
nav li:first-of-type a { border-left: 0 }
nav li:last-of-type a { border-right: 0 }
nav a {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid #fff;
    color: #636363 !important;
    padding: 16px 24px;
}
nav a:hover { background-color: rgba(0, 0, 0, 0.025) }

/* ===[ Buttons ]=== */
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #f8f8f8;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #515151;
    cursor: pointer;
    display: inline-block;
    font-family: "Droid Sans", Verdana, Geneva, sans-serif;
    font-size: 16px;
    padding: 6px 18px;
    margin-bottom: 0;
    text-decoration: none;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.btn:active {
    background: #ebebeb;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
a.btn { padding: 7px 18px }
.btn-large {
    border-radius: 6px;
    font-size: 32px;
    padding: 9px 27px;
}
.btn-blue, .btn-red, .btn-black {
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.btn-blue i[class*='icon-'], .btn-red i[class*='icon-'], .btn-black i[class*='icon-'] { color: white }
.btn-blue {
    border-color: #2689be;
    background-color: #55beec;
    background-image: -webkit-linear-gradient(#55beec, #388be6);
    background-image: linear-gradient(#55beec, #388be6);
}
.btn-blue:active {
    background-color: #55beec;
    background-image: -webkit-linear-gradient(bottom, #55beec, #388be6);
    background-image: linear-gradient(to top,#55beec, #388be6);
}
.btn-red {
    border-color: #621b12;
    background-color: #e7705a;
    background-image: -webkit-linear-gradient(#e7705a, #b72234);
    background-image: linear-gradient(#e7705a, #b72234);
}
.btn-red:active {
    background-color: #e7705a;
    background-image: -webkit-linear-gradient(bottom, #e7705a, #b72234);
    background-image: linear-gradient(to top,#e7705a, #b72234);
}
.btn-black {
    border-color: #0c0c0c;
    background-color: #404040;
    background-image: -webkit-linear-gradient(#404040, #0d0d0d);
    background-image: linear-gradient(#404040, #0d0d0d);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}
.btn-black:active {
    background-color: #404040;
    background-image: -webkit-linear-gradient(bottom, #404040, #0d0d0d);
    background-image: linear-gradient(to top,#404040, #0d0d0d);
}
[disabled], .disabled {
    cursor: not-allowed;
    opacity: 0.66;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ===[ Infobars ]=== */
.infobar {
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.3);
    height: 48px;
    margin: 10px 0;
    padding: 6px 10px 0 14px;
}
.infobar em {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-style: normal;
    padding-top: 10px;
    float: left;
}
.infobar .btn {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.15);
    color: rgba(0, 0, 0, 0.8);
    float: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.infobar .btn:active { box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.3) }
.infobar.info {
    background-color: white;
    background-image: -webkit-linear-gradient(top, white, #f3f3f3);
    background-image: linear-gradient(to bottom,white, #f3f3f3);
    border: 1px solid #9f9f9f;
}
.infobar.question {
    background-color: #55c1ec;
    background-image: -webkit-linear-gradient(top, #55c1ec, #44a2e9);
    background-image: linear-gradient(to bottom,#55c1ec, #44a2e9);
    border: 1px solid #357893;
}
.infobar.warning {
    background-color: #fdde76;
    background-image: -webkit-linear-gradient(top, #fdde76, #fbd058);
    background-image: linear-gradient(to bottom,#fdde76, #fbd058);
    border: 1px solid #9e8a4a;
}
.infobar.error {
    background-color: #e35d4f;
    background-image: -webkit-linear-gradient(top, #e35d4f, #d33f3d);
    background-image: linear-gradient(to bottom,#e35d4f, #d33f3d);
    border: 1px solid #8e3a31;
}
.infobar i[class^="icon"] { color: rgba(0, 0, 0, 0.6) }

/* ===[ Form Elements ]=== */
label { cursor: pointer }
input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
    height: 16px;
    margin: 0;
    width: 16px;
    opacity: 0;
}
input[type='checkbox'] + span, input[type='radio'] + span {
    background: url(../img/form.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: -16px;
    z-index: -1;
}
input[type='checkbox']:checked + span { background-position: -16px 0 }
input[type='radio'] + span { background-position: 0 -16px }
input[type='radio']:checked + span { background-position: -16px -16px }

/* ===[ Toggles ]=== */
.toggle {
    cursor: pointer;
    background: url(../img/toggle.png);
    border-radius: 11px;
    border-right: 1px solid #a0a0a0;
    display: inline-block;
    height: 22px;
    width: 46px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.toggle.on {
    background-position: 24px 0;
    border-right: 0;
    border-left: 1px solid #266da4;
}

/* ===[ Slider ]=== */
.ui-slider {
    background-color: #979797;
    background-image: -webkit-linear-gradient(top, #979797, #b4b4b4);
    background-image: linear-gradient(to bottom,#979797, #b4b4b4);
    border: 1px solid #808080;
    border-radius: 3px;
    height: 6px;
}
.ui-slider .ui-slider-range-min {
    background-color: #535353;
    background-image: -webkit-linear-gradient(top, #535353, gray);
    background-image: linear-gradient(to bottom,#535353, gray);
    border: 1px solid #424242;
    border-radius: 3px;
    top: -1px;
    left: -1px;
}
.ui-slider .ui-slider-handle {
    background: url(../img/form.png) -32px 0 no-repeat;
    cursor: ew-resize;
    display: inline-block;
    height: 16px;
    margin-left: -7px;
    outline: none;
    top: -5px;
    width: 16px;
}
.ui-progressbar {
    background-color: #ababab;
    background-image: -webkit-linear-gradient(top, #ababab, #cacaca);
    background-image: linear-gradient(to bottom,#ababab, #cacaca);
    border: 1px solid #424242;
    border-radius: 5px;
    cursor: progress;
    height: 10px;
}
.ui-progressbar .ui-progressbar-value {
    background-color: #515151;
    background-image: -webkit-linear-gradient(top, #515151, #878787);
    background-image: linear-gradient(to bottom,#515151, #878787);
    border-right: 1px solid #424242;
    margin: 0;
}

/* ===[ Text Fields ]=== */
input:focus, textarea:focus { outline: none }
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    -o-appearance: textfield;
    appearance: textfield;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(#f7f7f7, white);
    background-image: linear-gradient(#f7f7f7, white);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Droid Sans", Verdana, Geneva, sans-serif;
    margin: 10px 0;
    padding: 7px;
}
input[type='search'] {
    -webkit-appearance: search;
    -moz-appearance: search;
    -ms-appearance: search;
    -o-appearance: search;
    appearance: search;
}
input[placeholder]::-webkit-input-placeholder { color: #b0b0b0 }
input[placeholder]::-moz-placeholder { color: #b0b0b0 }
input[placeholder]:-moz-placeholder { color: #b0b0b0 }
input[placeholder]:-ms-input-placeholder { color: #b0b0b0 }
textarea { overflow-y: auto }

/* ===[ High DPI Displays ]=== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) { 
    input[type='checkbox'] + span, input[type='radio'] + span, .ui-slider .ui-slider-handle {
        background-image: url(../img/form@2x.png);
        background-size: 47px 32px;
    }
    .toggle {
        background-image: url(../img/toggle@2x.png);
        background-size: 70px 22px;
    }
}