@font-face {
    font-family: 'elementary';
    src:url('../fonts/elementary.eot');
    src:url('../fonts/elementary.eot?#iefix') format('embedded-opentype'),
        url('../fonts/elementary.woff') format('woff'),
        url('../fonts/elementary.ttf') format('truetype'),
        url('../fonts/elementary.svg#elementary') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'elementary';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

[class*="icon-"] {
    font-family: 'elementary';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-up:before { content: "\21" }
.icon-next:before { content: "\22" }
.icon-down:before { content: "\23" }
.icon-previous:before { content: "\24" }
.icon-top:before { content: "\25" }
.icon-last:before { content: "\26" }
.icon-bottom:before { content: "\27" }
.icon-first:before { content: "\28" }
.icon-home:before { content: "\29" }
.icon-folder:before { content: "\2a" }
.icon-harddisk:before { content: "\2b" }
.icon-delete:before { content: "\2c" }
.icon-camera:before { content: "\2d" }
.icon-camcorder:before { content: "\2e" }
.icon-minus:before { content: "\2f" }
.icon-plus:before { content: "\30" }
.icon-error:before { content: "\31" }
.icon-complete:before { content: "\32" }
.icon-close:before { content: "\33" }
.icon-clear-left:before { content: "\34" }
.icon-clear-right:before { content: "\35" }
.icon-twitter:before { content: "\36" }
.icon-facebook:before { content: "\37" }
.icon-starred:before { content: "\38" }
.icon-unstarred:before { content: "\39" }
.icon-phone:before { content: "\3a" }
.icon-music:before { content: "\3b" }
.icon-video:before { content: "\3c" }
.icon-pictures:before { content: "\3d" }
.icon-document:before { content: "\3e" }
.icon-globe:before { content: "\3f" }
.icon-accessibility:before { content: "\40" }
.icon-lock:before { content: "\41" }
.icon-unlock:before { content: "\42" }
.icon-lock-alt:before { content: "\43" }
.icon-unlock-alt:before { content: "\44" }
.icon-restore:before { content: "\45" }
.icon-fullscreen:before { content: "\46" }
.icon-contact:before { content: "\47" }
.icon-contact-new:before { content: "\48" }
.icon-contact-group:before { content: "\49" }
.icon-undo:before { content: "\4a" }
.icon-redo:before { content: "\4b" }
.icon-pane-left:before { content: "\4c" }
.icon-pane-right:before { content: "\4d" }
.icon-export:before { content: "\4e" }
.icon-text-smaller:before { content: "\4f" }
.icon-text-larger:before { content: "\50" }
.icon-justify-right:before { content: "\51" }
.icon-justify-center:before { content: "\52" }
.icon-justify-left:before { content: "\53" }
.icon-justify-fill:before { content: "\54" }
.icon-indent-left:before { content: "\55" }
.icon-indent-right:before { content: "\56" }
.icon-attachment:before { content: "\57" }
.icon-print:before { content: "\58" }
.icon-recent:before { content: "\59" }
.icon-refresh:before { content: "\5a" }
.icon-synchronize:before { content: "\5b" }
.icon-info:before { content: "\5c" }
.icon-jump:before { content: "\5d" }
.icon-download:before { content: "\5e" }
.icon-crop:before { content: "\5f" }
.icon-search:before { content: "\60" }
.icon-signal-none:before { content: "\61" }
.icon-signal-one:before { content: "\62" }
.icon-signal-two:before { content: "\63" }
.icon-signal-three:before { content: "\64" }
.icon-signal-four:before { content: "\65" }
.icon-play:before { content: "\66" }
.icon-pause:before { content: "\67" }
.icon-backward:before { content: "\68" }
.icon-forward:before { content: "\69" }
.icon-eject:before { content: "\6a" }
.icon-shuffle:before { content: "\6b" }
.icon-order:before { content: "\6c" }
.icon-repeat:before { content: "\6d" }
.icon-repeat-one:before { content: "\6e" }
.icon-wifi-off:before { content: "\6f" }
.icon-wifi:before { content: "\70" }
.icon-bluetooth:before { content: "\71" }
.icon-brightness:before { content: "\72" }
.icon-audio:before { content: "\73" }
.icon-toggles:before { content: "\74" }
.icon-gear:before { content: "\75" }
.icon-power:before { content: "\76" }
.icon-column:before { content: "\77" }
.icon-coverflow:before { content: "\78" }
.icon-filter:before { content: "\79" }
.icon-grid:before { content: "\7a" }
.icon-list-compact:before { content: "\7b" }
.icon-list:before { content: "\7c" }