/* _RESET
================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #3cbdf0; color: #fff; text-shadow: none; }
::selection { background: #3cbdf0; color: #fff; text-shadow: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* _SITE
================================================== */

/* Optional Styles */
* { box-sizing: border-box }
body {
	background: #f3f3f3;
	color: #4D4D4D;
	line-height: 2;
	padding: 20px;
}
.container {
	width: 720px;
	margin: 0 auto;
}
header {
	background: url(img/e.png) no-repeat;
	font: 700 32px/1 'Open Sans', sans-serif;
	padding: 11px 0 21px 83px;
	margin-bottom: 30px;
}
article { clear: both }
section {
	float: left;
	width: 50%;
}
/* End Optional Styles */

/* Checkbox */
label { cursor: pointer }
input[type="checkbox"], .check-bg {
    height: 16px;
    width: 16px;
}
input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    opacity: 0;
}
.check-bg {
    background: url(img/sprite.png);
    display: inline-block;
    position: relative;
    left: -15px;
    z-index: -1;
}
input[type="checkbox"]:checked + .check-bg { background-position: -16px 0 }

/* Toggle */
input.toggle, .toggle-bg {
    display: block;
    height: 28px;
    width: 78px;
}
input.toggle {
    appearance: none;
    cursor: pointer;
    opacity: 0;
}
.toggle-bg {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-radius: 14px;
    position: relative;
    top: -28px;
    transition: 0.2s ease-out;
    z-index: -1;
}
.toggle-bg, .toggle-bg:after { background: url(img/toggle.png) }
.toggle-bg:after {
    background-position: 0 -28px;
    content: "";
    height: 28px;
    float: left;
    width: 28px;
}
input.toggle:checked + .toggle-bg {
    background-position: 49px 0;
    border-right: 1px solid #286da6;
    border-left: 1px solid #286da6;
    padding-left: 49px;
}

/* Radio */
input[type="radio"], .radio-bg {
    height: 14px;
    width: 14px;
}
input[type="radio"] {
    cursor: pointer;
    margin: 0;
    opacity: 0;
}
.radio-bg {
    background: url(img/sprite.png) 0 -16px;
    display: inline-block;
    position: relative;
    left: -14px;
    z-index: -1;
}
input[type="radio"]:checked + .radio-bg { background-position: -16px -16px }

/* Range */
.range {
	background-color: #b7b7b7;
	background-image: linear-gradient(top, #a7a7a7, #c6c6c6);
	border: 1px solid #939393;
	border-radius: 4px;
	width: 175px;
}
.ui-slider { position: relative }
.ui-slider-range {
	background-color: #6a6a6a;
	background-image: linear-gradient(top, #535353, #808080);
	border-radius: 6px 0 0 6px;
	height: 4px;
}
.ui-slider-handle {
	background: url(img/sprite.png) -32px 0;
	cursor: ew-resize;
	height: 16px;
	margin-left: -0.6em;
	position: absolute;
	top: -6px;
	width: 16px;
	z-index: 2;
}
.ui-slider-handle:active, .ui-slider-handle:focus { outline: none }

/* Progress */
.progress {
    background: rgba(255,255,255,0.5);
    border: 2px solid #666;
    border-radius: 7px;
    height: 14px;
    padding: 2px;
    width: 250px;
}
.ui-progressbar-value {
    background: #666;
    border-radius: 3px;
    display: block;
    height: 6px;
}

/* Text Fields */
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="search"], textarea {
    background-color: #fff;
	background-image: linear-gradient(top, #f2f2f2, #fff);
    border: 1px solid #929292;
    border-radius: 2px;
    color: #a3a3a3;
    display: block;
    font: 14px/1.5 'Open Sans', sans-serif;
    height: 26px;
    padding-left: 5px;
    width: 250px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="search"]:focus, textarea:focus {
    color: #404040;
    outline: none;
}

input[type="search"] {
    background: url(img/sprite.png) -49px 0 no-repeat, linear-gradient(top, #e9e9e9, #fcfcfc);
	box-sizing: border-box;
    padding-left: 26px;
}
.-ms- input[type="search"], .no-multiplebgs input[type="search"] { padding-left: 5px }

textarea {
    clear: both;
    height: 111px;
    display: block;
    max-height: 222px;
    max-width: 500px;
}

/* Buttons */
button, input[type="button"], input[type="reset"], input[type="submit"], a.button {
	background-color: #eeeeee;
    background-image: linear-gradient(top, #fefefe, #dedede);
    border: 1px solid #838383;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #fff, 0 1px 1px 0 rgba(0,0,0,0.2);
    color: #333;
    font: 12px/1 'Droid Sans', sans-serif;
    height: 26px;
    text-shadow: 0 1px 0 #fff;
	user-select: none;
    width: 100px;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover {
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #fff, #ebebeb)
}
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, a.button:active {
	background-color: #989898;
    background-image: linear-gradient(top, #7f7f7f, #b0b0b0);
    border: 1px solid #666;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    color: #f9f9f9;
    text-shadow: 0 1px 0 rgba(0,0,0,0.27);
}
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { padding: 0 }
a.button {
    display: inline-block;
    line-height: normal;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
}
button.blue, input.blue, a.blue, button.red, input.red, a.red {
    box-shadow: inset 0 1px rgba(255,255,255,0.5), inset 0 -1px rgba(255,255,255,0.2);
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}
button.blue, input.blue, a.blue {
	background-color: #47a5e9;
    background-image: linear-gradient(top, #55bfec, #398be6);
    border: 1px solid #2689be;
}
button.blue:hover, input.blue:hover, a.blue:hover {
	background-color: #5cc0f0;
	background-image: linear-gradient(top, #6fd2f2, #4aaeee)
}
button.blue:active, input.blue:active, a.blue:active {
	background-color: #368dcb;
    background-image: linear-gradient(bottom, #42aad6, #2970c0);
    box-shadow: inset 0 1px rgba(255,255,255,0.2), inset 0 -1px rgba(255,255,255,0.4);
    border: 1px solid #136eab;
}
button.red, input.red, a.red {
	background-color: #d4403e;
    background-image: linear-gradient(top, #e15a4d, #c7272f);
    border: 1px solid #b0282d;
}
button.red:hover, input.red:hover, a.red:hover {
	background-color: #e55b57;
	background-image: linear-gradient(top, #ed7e6c, #dd3742)
}
button.red:active, input.red:active, a.red:active {
	background-color: #bf302d;
    background-image: linear-gradient(bottom, #c9473a, #b51820);
    box-shadow: inset 0 1px rgba(255,255,255,0.2), inset 0 -1px rgba(255,255,255,0.3);
    border: 1px solid #9d1e23;
}
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, a.disabled, a.disabled:hover, a.disabled:active {
    background-color: #c9c9c9;
	background-image: linear-gradient(top, #d8d8d8, #b9b9b9);
    border: 1px solid #969696;
	box-shadow: inset 0 1px rgba(255,255,255,0.2);
	color: #828282;
	text-shadow: none;
}

/* Disabled State */
input:disabled  + .check-bg, input:disabled  + .radio-bg, input:disabled  + .toggle-bg { opacity: 0.5 }
input:disabled, button:disabled, a.disabled { cursor: not-allowed }