/* Optional Styles */
body {
    background: #fff;
    max-width: 1280px;
    padding-bottom: 32px;
}
.logo {
    margin-bottom: 45px;
    
    img {
        margin-right: 25px;
        vertical-align: middle;
    }
}
.h-section {
    border-top: 1px solid #bfbfbf;
    border-bottom: 4px double #bfbfbf;
    padding: 10px 15px;
    margin: 30px 0;
}
.infobar { width: 360px; }
label { line-height: 2.5 }
a.toggle { margin: 10px 0 }
.slider, .progress { max-width: 250px }
.icons li {
    float: left;
    margin-bottom: 22px;
    width: 25%;
}
textarea {
    resize: horizontal;
    max-width: 500px;
}
#{$all-text-inputs}, textarea {
    min-width: 250px;
}
hr {
    @include linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    border: 0;
    height: 1px;
    margin: 32px 0;
}