/* Bourbon Library */
@import 'bourbon/bourbon';

/* Variables */
$baseFontSize:      16px;
$baseLineHeight:    5/3;
$baseHeading:       40px;
$sans:              'Droid Sans', Verdana, Geneva, sans-serif;
$mono:              'Droid Sans Mono', Consolas, Courier, monospace;
$serif:             'Droid Serif', Cambria, "Times New Roman", Times, serif;
$radius:            3px;

/* Imports */
@import 'reset';
@import 'font';
@import 'demo';

/* Typography */
h1, h2, h3, h4, h5, h6 { 
    margin: ($baseHeading / 2) 0;
}

h1 { font-size: $baseHeading; }
h2 { font-size: $baseHeading * (5/6); }
h3 { font-size: $baseHeading * (4.5/6); }
h4 { font-size: $baseHeading * (4/6); }
h5 { font-size: $baseHeading * (3.5/6); }
h6 { font-size: $baseHeading * (3/6); }

p {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
}

blockquote {
    border-left: 4px double #bfbfbf;
    padding: 5px 5px 10px 20px;

    p {
        font: {
            family: $serif;
            size: $baseFontSize * (5/4);
            style: italic;
        }
        
        line-height: $baseLineHeight * (5/4);
        
        i, em { font-style: normal; }
    }
    
    small {
        color: #999999;
        display: block;
        font-size: $baseFontSize * (4/5);
        line-height: $baseLineHeight * (8/7);
        
        &:before { content: '\2014 \00A0'; }
    }
}

a:not(.btn) {
    color: #2576cc;
    text-decoration: none;
    
    &:hover {
        color: #07a6ed;
    }
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #4d4d4d;
}

b, strong {
    font-weight: bold;
}

code {
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    border-radius: $radius;
    color: hsl(203, 82, 44);
    font-size: $baseFontSize * (7/8);
    font-weight: 400;
    padding: 5px;
}

del {
    opacity: 0.75;
    @include user-select(none);
}

ins {
    background-color: rgba(239,237,82,0.75);
    padding: 2px 4px;
    text-decoration: none;
}

kbd {
  color: #4d4d4d;
  @include linear-gradient(top, #e9e9e9, #fff);
  border: 1px solid #a5a5a5;
  border-radius: $radius;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -2px 0 0 #d9d9d9;
  font-family: $sans;
  font-size: $baseFontSize;
  padding: 5px 10px;
  @include user-select(none);
}

pre {
    @extend code;
    color: hsl(203, 0, 44);
    padding-left: 15px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

sup, sub {
    font-size: 75%;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* Navigation */
nav {
    @include linear-gradient(top, #fff, #f2f2f2);
    border: 1px solid #bfb9b8;
    border-radius: $radius;
    box-shadow: inset 0 0 0 1px #fff;
    padding: 18px 0 17px;
    
    li {
        display: inline;
        list-style: none;
        margin-right: -4px;
        
        &:first-of-type a { border-left: 0 }
        &:last-of-type a { border-right: 0 }
    }
    
    a {
        border-right: 1px solid rgba(0,0,0,0.2);
        border-left: 1px solid #fff;
        color: #636363 !important;
        padding: 16px 24px;
        
        &:hover { background-color: rgba(0,0,0,0.025); }
    }
}

/* Buttons */
.btn {
    @include appearance(none);
    background: #f8f8f8;
    border: 1px solid #c4c4c4;
    border-radius: $radius;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #515151;
    cursor: pointer;
    display: inline-block;
    font-family: $sans;
    font-size: $baseFontSize;
    padding: 6px 18px;
    margin-bottom: 0;
    text-decoration: none;
    vertical-align: baseline;
	@include user-select(none);
    
    &::-moz-focus-inner { /* Fix for Firefox */
        border: 0;
        padding: 0;
    }
    
    &:active {
        background: #ebebeb;
        box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
    }

}

a.btn { padding: 7px 18px }

.btn-large {
    border-radius: $radius * 2;
    font-size: $baseFontSize * 2;
    padding: 9px 27px;
}

.btn-blue, .btn-red, .btn-black {
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 0 1px rgba(255,255,255,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    
    i[class*='icon-'] { color: #fff }
}

.btn-blue {
    border-color: #2689be;
    @include linear-gradient(#55beec, #388be6);
    
    &:active { @include linear-gradient(bottom, #55beec, #388be6); }
}

.btn-red {
    border-color: #621b12;
    @include linear-gradient(#e7705a, #b72234);
    
    &:active { @include linear-gradient(bottom, #e7705a, #b72234); }
}

.btn-black {
    border-color: #0c0c0c;
    @include linear-gradient(#404040, #0d0d0d);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 0 0 1px rgba(255,255,255,0.15);
    
    &:active { @include linear-gradient(bottom, #404040, #0d0d0d); }
}

[disabled], .disabled{
    cursor: not-allowed;
    opacity: 0.66;
    pointer-events: none;
    @include user-select(none);
}

/* Infobars */
.infobar {
    border-radius: $radius;
    @include box-sizing(border-box);
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.3);
    height: 48px;
    margin: 10px 0;
    padding: 6px 10px 0 14px;
    
    em {
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        font-style: normal;
        padding-top: 10px;
        float: left;
    }
    .btn {
        background: transparent;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), 0 1px 0 0 rgba(255,255,255,0.15);
        color: rgba(0, 0, 0, 0.8);
        float: right;
        text-shadow: 0 1px 0 rgba(255,255,255,0.3);
        
        &:active { box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.3); }
    }
    
    &.info {
        @include linear-gradient(top, #fff, #f3f3f3);
        border: 1px solid #9f9f9f;
    }
    
    &.question {
        @include linear-gradient(top, #55c1ec, #44a2e9);
        border: 1px solid #357893;
    }
    
    &.warning {
        @include linear-gradient(top, #fdde76, #fbd058);
        border: 1px solid #9e8a4a;
    }
    
    &.error {
        @include linear-gradient(top, #e35d4f, #d33f3d);
        border: 1px solid #8e3a31;
    }
    
    i[class^="icon"] { color: rgba(0, 0, 0, 0.6); }
}

/* Form Elements */
label { cursor: pointer }

input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
    height: 16px;
    margin: 0;
    width: 16px;
    opacity: 0;
}

input[type='checkbox'] + span, input[type='radio'] + span {
    background: url(../img/form.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    @include position(relative, 0 0 0 -16px);
    z-index: -1;
}

input[type='checkbox']:checked + span {
    background-position: -16px 0;
}

input[type='radio'] + span {
    background-position: 0 -16px;
}

input[type='radio']:checked + span {
    background-position: -16px -16px;
}

/* Toggles */
.toggle {
    cursor: pointer;
    background: url(../img/toggle.png);
    border-radius: 11px;
    border-right: 1px solid #a0a0a0;
    display: inline-block;
    height: 22px;
    width: 46px;
    @include transition (all 0.15s ease-out);
}

.toggle.on {
    background-position: 24px 0;
    border-right: 0;
    border-left: 1px solid #266da4;
}

/* Slider */
.ui-slider {
    @include linear-gradient(top, #979797, #b4b4b4);
    border: 1px solid #808080;
    border-radius: $radius;
    height: 6px;
    
    .ui-slider-range-min {
        @include linear-gradient(top, #535353, #808080);
        border: 1px solid #424242;
		border-radius: $radius;
		top: -1px;
		left: -1px;
    }
    
    .ui-slider-handle {
        background: url(../img/form.png) -32px 0 no-repeat;
        cursor: ew-resize;
        display: inline-block;
        height: 16px;
        margin-left: -7px;
        outline: none;
        top: -5px;
        width: 16px;
    }
}

.ui-progressbar {
    @include linear-gradient(top, #ababab, #cacaca);
    border: 1px solid #424242;
    border-radius: 5px;
    cursor: progress;
    height: 10px;
    
    .ui-progressbar-value {
        @include linear-gradient(top, #515151, #878787);
        border-right: 1px solid #424242;
        margin: 0;
    }
}

/* Text Fields */
input:focus, textarea:focus { outline: none }

#{$all-text-inputs}, textarea {
    @include appearance(textfield);
    border: 1px solid #8e8e8e;
    border-radius: $radius;
    @include linear-gradient(#f7f7f7, #fff);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
    @include box-sizing(border-box);
    font-family: $sans;
    margin: 10px 0;
    padding: 7px;
}

input[type='search'] {
    @include appearance(search);
}

input[placeholder] {
    @include placeholder {
        color: #b0b0b0;
    }
}

textarea {
    overflow-y: auto;
}

/* High DPI Displays */
@include hidpi(1.5) {
    input[type='checkbox'] + span, input[type='radio'] + span, .ui-slider .ui-slider-handle {
        background-image: url(../img/form@2x.png);
        background-size: 47px 32px;
    }
    .toggle {
        background-image: url(../img/toggle@2x.png);
        background-size: 70px 22px;
    }
}