/* Droid Font Family */
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic');

/* Bourbon Library */
@import 'bourbon/bourbon';

/* Icon Font */
@include font-face(econ, 'icons/econ');

/* Variables */
$baseFontSize: 16px;
$baseLineHeight: 5/3;
$baseHeading: 40px;
$serif: 'Droid Serif', Cambria, "Times New Roman", Times, serif;
$sans: 'Droid Sans', Verdana, Geneva, sans-serif;
$mono: 'Droid Sans Mono', Consolas, Courier, monospace;
$radius: 3px;

/* Imports */
@import 'reset';
@import 'demo';

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin: ($baseHeading / 2) 0;
}

h1 { font-size: $baseHeading; }
h2 { font-size: $baseHeading * (5/6); }
h3 { font-size: $baseHeading * (4.5/6); }
h4 { font-size: $baseHeading * (4/6); }
h5 { font-size: $baseHeading * (3.5/6); }
h6 { font-size: $baseHeading * (3/6); }

p {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
}

blockquote {
    border-left: 4px double #bfbfbf;
    padding: 5px 5px 10px 20px;

    p {
        font: {
            family: $serif;
            size: $baseFontSize * (5/4);
            style: italic;
        }
        
        line-height: $baseLineHeight * (5/4);
        
        i, em { font-style: normal; }
    }
    
    small {
        color: #999999;
        display: block;
        font-size: $baseFontSize * (4/5);
        line-height: $baseLineHeight * (8/7);
        
        &:before { content: '\2014 \00A0'; }
    }
}

a:not(.btn) {
    color: #2576cc;
    text-decoration: none;
    
    &:hover {
        color: #07a6ed;
    }
}

ins {
    background-color: rgba(239,237,82,0.75);
    padding: 2px 4px;
    text-decoration: none;
}

del {
    opacity: 0.75;
    @include user-select(none);
}

abbr, acronym {
    cursor: help;
    border-bottom: 1px dotted #4d4d4d;
}

sup, sub {
    font-size: 75%;
}

sup { vertical-align: super; }

sub { vertical-align: sub; }

code {
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    border-radius: $radius;
    color: hsl(203, 82, 44);
    font-size: $baseFontSize * (7/8);
    font-weight: 400;
    padding: 5px;
}

pre {
    @extend code;
    color: hsl(203, 0, 44);
    padding-left: 15px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* Navigation */
nav {
    @include linear-gradient(top, #fff, #f2f2f2);
    border: 1px solid #bfb9b8;
    border-radius: $radius;
    box-shadow: inset 0 0 0 1px #fff;
    padding: 18px 0 17px;
    
    li {
        display: inline;
        list-style: none;
        margin-right: -4px;
        
        &:first-of-type a { border-left: 0 }
        &:last-of-type a { border-right: 0 }
    }
    
    a {
        border-right: 1px solid rgba(0,0,0,0.2);
        border-left: 1px solid #fff;
        color: #636363 !important;
        padding: 16px 24px;
    }
}

/* Buttons */
.btn {
    @include appearance(none);
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    border-radius: $radius;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #515151;
    cursor: pointer;
    display: inline-block;
    font-family: $sans;
    font-size: $baseFontSize * (7/8);
    padding: 6px 18px;
    margin-bottom: 0;
    text-decoration: none;
    vertical-align: middle;
    
    &::-moz-focus-inner { /* Fix for Firefox */
        border: 0;
        padding: 0;
    }
    
    &:active {
        background: #ebebeb;
        box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
    }
}

.btn-large {
    font-size: $baseFontSize * (3/2);
    padding: 9px 27px;
}

.btn-blue, .btn-red, .btn-black {
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 0 1px rgba(255,255,255,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    
    i[class*='icon-'] { color: #fff }
}

.btn-blue {
    border-color: #2689be;
    @include linear-gradient(#55beec, #388be6);
    
    &:active { @include linear-gradient(bottom, #55beec, #388be6); }
}

.btn-red {
    border-color: #621b12;
    @include linear-gradient(#e7705a, #b72234);
    
    &:active { @include linear-gradient(bottom, #e7705a, #b72234); }
}

.btn-black {
    border-color: #0c0c0c;
    @include linear-gradient(#404040, #0d0d0d);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 0 0 1px rgba(255,255,255,0.15);
    
    &:active { @include linear-gradient(bottom, #404040, #0d0d0d); }
}

[disabled], .disabled{
    cursor: not-allowed;
    opacity: 0.75;
    pointer-events: none;
    @include user-select(none);
}

/* Form Elements */
label { cursor: pointer }

input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
    height: 16px;
    margin: 0;
    width: 16px;
    opacity: 0;
}

input[type='checkbox'] + span, input[type='radio'] + span {
    background: url(../img/form.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    @include position(relative, 0 0 0 -16px);
    z-index: -1;
}

input[type='checkbox']:checked + span {
    background-position: -16px 0;
}

input[type='radio'] + span {
    background-position: 0 -16px;
}

input[type='radio']:checked + span {
    background-position: -16px -16px;
}

/* Toggles */
.toggle {
    cursor: pointer;
    background: url(../img/toggle.png);
    border-radius: 11px;
    border-right: 1px solid #929292;
    display: inline-block;
    height: 22px;
    width: 56px;
    @include transition (all 0.15s ease-out);
}

.toggle.on {
    background-position: 35px 0;
}

/* Slider */
.ui-slider {
    @include linear-gradient(top, #979797, #b4b4b4);
    border: 1px solid #808080;
    border-radius: $radius;
    height: 6px;
    
    .ui-slider-range-min {
        @include linear-gradient(top, #535353, #808080);
        border: 1px solid #424242;
    }
    
    .ui-slider-handle {
        background: url(../img/form.png) -32px 0 no-repeat;
        cursor: ew-resize;
        display: inline-block;
        height: 16px;
        margin-left: -7px;
        outline: none;
        top: -5px;
        width: 15px;
    }
}

.ui-progressbar {
    @include linear-gradient(top, #ababab, #cacaca);
    border: 1px solid #424242;
    border-radius: 5px;
    cursor: progress;
    height: 10px;
    
    .ui-progressbar-value {
        @include linear-gradient(top, #515151, #878787);
        border-right: 1px solid #424242;
    }
}

/* Text Fields */
input:focus, textarea:focus { outline: none }

#{$all-text-inputs}, textarea {
    @include appearance(textfield);
    border: 1px solid #8e8e8e;
    border-radius: $radius;
    @include linear-gradient(#f7f7f7, #fff);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
    @include box-sizing(border-box);
    font-family: $sans;
    margin: 10px 0;
    padding: 7px;
}

input[placeholder] {
    @include placeholder {
        color: #b0b0b0;
    }
}

textarea {
    overflow-y: auto;
}

input[type='search'] {
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 28px;
}

input[type='search'] + i.icon-search {
    left: -215px;
    margin-left: -29px;
    position: relative;
    top: 4px;
}

/* Icons */
[class^='icon-']:before, [class$='icon-']:before {
    font-family: econ;
    font-size: 19px;
    height: 19px;
    padding-right: 10px;
    @include user-select(none);
    width: 19px;
}

i[class*='icon-'] {
    font-style: normal;
    line-height: 1;
}

.icon-e:before { content: 'A'; }
.icon-right:before { content: 'C'; }
.icon-down:before { content: 'D'; }
.icon-hardright:before { content: 'E'; }
.icon-harddown:before { content: 'F'; }
.icon-left:before { content: 'G'; }
.icon-hardleft:before { content: 'H'; }
.icon-up:before { content: 'I'; }
.icon-hardup:before { content: 'J'; }
.icon-home:before { content: 'K'; }
.icon-docleft:before { content: 'L'; }
.icon-docright:before { content: 'M'; }
.icon-closeleft:before { content: 'N'; }
.icon-closeright:before { content: 'O'; }
.icon-minus:before { content: 'P'; }
.icon-check:before { content: 'Q'; }
.icon-error:before { content: 'R'; }
.icon-gear:before { content: 'S'; }
.icon-docs:before { content: 'T'; }
.icon-download:before { content: 'U'; }
.icon-movie:before { content: 'V'; }
.icon-hdd:before { content: 'W'; }
.icon-search:before { content: 'X'; }
.icon-circle:before { content: 'Y'; }
.icon-close:before { content: 'Z'; }
.icon-print:before { content: 'a'; }
.icon-doccopy:before { content: 'b'; }
.icon-bluetooth:before { content: 'c'; }
.icon-bullet:before { content: 'd'; }
.icon-star:before { content: 'e'; }
.icon-plus:before { content: 'f'; }
.icon-power:before { content: 'g'; }
.icon-refresh:before { content: 'h'; }
.icon-music:before { content: 'i'; }
.icon-globe:before { content: 'j'; }
.icon-info:before { content: 'k'; }
.icon-adduser:before { content: 'l'; }
.icon-user:before { content: 'm'; }
.icon-secure:before { content: 'n'; }
.icon-unsecure:before { content: 'o'; }
.icon-lock:before { content: 'p'; }
.icon-unlock:before { content: 'q'; }
.icon-settings:before { content: 'r'; }
.icon-play:before { content: 's'; }
.icon-pause:before { content: 't'; }
.icon-forward:before { content: 'u'; }
.icon-rewind:before { content: 'v'; }
.icon-eject:before { content: 'w'; }
.icon-skip:before { content: 'x'; }
.icon-shuffle:before { content: 'y'; }
.icon-repeat:before { content: 'z'; }
.icon-repeatone:before { content: '1'; }
.icon-returnleft:before { content: '2'; }
.icon-returnright:before { content: '3'; }
.icon-largefont:before { content: '4'; }
.icon-smallfont:before { content: '5'; }
.icon-camera:before { content: '8'; }
.icon-video:before { content: '9'; }
.icon-mic:before { content: '0'; }
.icon-micremove:before { content: '!'; }
.icon-micone:before { content: '\0022'; }
.icon-mictwo:before { content: '\00A3'; }
.icon-micthree:before { content: '%'; }
.icon-soundoff:before { content: '^'; }
.icon-soundlow:before { content: '&'; }
.icon-soundmed:before { content: '*'; }
.icon-soundhi:before { content: '('; }
.icon-wifioff:before { content: ')'; }
.icon-wifilow:before { content: '-'; }
.icon-wifimed:before { content: '_'; }
.icon-wifihi:before { content: '='; }
.icon-wifimax:before { content: '+'; }
.icon-col:before { content: '['; }
.icon-carousel:before { content: ']'; }
.icon-list:before { content: '{'; }
.icon-listicons:before { content: '}'; }
.icon-grid:before { content: ';'; }
.icon-details:before { content: ':'; }

/* Hi-DPI Displays */
@include hidpi(1.5) {
    input[type='checkbox'] + span, input[type='radio'] + span, .ui-slider .ui-slider-handle {
        background-image: url(../img/form@2x.png);;
        background-size: 47px 32px;
    }
    .toggle {
        background-image: url(../img/toggle@2x.png);
        background-size: 102px 22px;
    }
}