/* Droid Font Family */
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic");

/* Icon Font */
@font-face {
  font-family: econ;
  font-weight: normal;
  font-style: normal;
  src: url("icons/econ.eot");
  src: url("icons/econ.eot?#iefix") format("embedded-opentype"), url("icons/econ.woff") format("woff"), url("icons/econ.ttf") format("truetype"), url("icons/econ.svg#econ") format("svg");
}

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, pre, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: #4d4d4d;
    font-family: "Droid Sans",Verdana,Geneva,sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body {
    line-height: 1;
    padding: 20px 40px;
}
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    background-color: #000;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image: linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    border: 0;
    height: 1px;
    margin: 32px 0;
}

/* Demo-Only Styles */
body {
    background: white url(../img/bg.png) repeat-x;
    max-width: 1280px;
    padding-bottom: 32px;
}
.logo { margin-bottom: 45px }
.logo img {
    margin-right: 25px;
    vertical-align: middle;
}
.h-section {
    border-top: 1px solid #bfbfbf;
    border-bottom: 4px double #bfbfbf;
    padding: 10px 15px;
    margin: 30px 0;
}
label { line-height: 2.5 }
a.toggle { margin: 10px 0 }
.slider, .progress { max-width: 250px }
.icons li {
    float: left;
    margin-bottom: 19px;
    width: 25%;
}
textarea {
    resize: horizontal;
    max-width: 500px;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea { min-width: 250px }

/* Typography */
h1, h2, h3, h4, h5, h6 { margin: 20px 0 }
h1 { font-size: 40px }
h2 { font-size: 33.33333px }
h3 { font-size: 30px }
h4 { font-size: 26.66667px }
h5 { font-size: 23.33333px }
h6 { font-size: 20px }
p {
    font-size: 16px;
    line-height: 1.66667;
}
blockquote {
    border-left: 4px double #bfbfbf;
    padding: 5px 5px 10px 20px;
}
blockquote p {
    font-family: "Droid Serif",Cambria,"Times New Roman",Times,serif;
    font-size: 20px;
    font-style: italic;
    line-height: 2.08333;
}
blockquote p i, blockquote p em { font-style: normal }
blockquote small {
    color: #999;
    display: block;
    font-size: 12.8px;
    line-height: 1.90476;
}
blockquote small:before { content: '\2014 \00A0' }
a:not(.btn) {
    color: #2576cc;
    text-decoration: none;
}
a:not(.btn):hover { color: #07a6ed }
ins {
    background-color: rgba(239,237,82,0.75);
    padding: 2px 4px;
    text-decoration: none;
}
del {
    opacity: .75;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
abbr, acronym {
    cursor: help;
    border-bottom: 1px dotted #4d4d4d;
}
sup, sub { font-size: 75% }
sup { vertical-align: super }
sub { vertical-align: sub }
code, pre {
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    color: #1486cc;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}
pre {
    color: #707070;
    padding-left: 15px;
}
.pull-left { float: left }
.pull-right { float: right }

/* Navigation */
nav {
    background-color: white;
    background-image: -webkit-linear-gradient(top,white,#f2f2f2);
    background-image: -ms-linear-gradient(top,white,#f2f2f2);
    background-image: linear-gradient(top,white,#f2f2f2);
    border: 1px solid #bfb9b8;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #fff;
    padding: 18px 0 17px;
}
nav li {
    display: inline;
    list-style: none;
    margin-right: -4px;
}
nav li:first-of-type a { border-left: 0 }
nav li:last-of-type a { border-right: 0 }
nav a {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid #fff;
    color: #636363!important;
    padding: 16px 24px;
}

/* Buttons */
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #515151;
    cursor: pointer;
    display: inline-block;
    font-family: "Droid Sans",Verdana,Geneva,sans-serif;
    font-size: 14px;
    padding: 6px 18px;
    margin-bottom: 0;
    text-decoration: none;
    vertical-align: middle;
}
.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.btn:active {
    background: #ebebeb;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}
.btn-large {
    font-size: 24px;
    padding: 9px 27px;
}
.btn-blue, .btn-red, .btn-black {
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6),inset 0 0 0 1px rgba(255,255,255,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.btn-blue i[class*='icon-'], .btn-red i[class*='icon-'], .btn-black i[class*='icon-'] { color: #fff }
.btn-blue {
    border-color: #2689be;
    background-color: #55beec;
    background-image: -webkit-linear-gradient(top,#55beec,#388be6);
    background-image: -ms-linear-gradient(top,#55beec,#388be6);
    background-image: linear-gradient(top,#55beec,#388be6);
}
.btn-blue:active {
    background-color: #55beec;
    background-image: -webkit-linear-gradient(bottom,#55beec,#388be6);
    background-image: -ms-linear-gradient(bottom,#55beec,#388be6);
    background-image: linear-gradient(bottom,#55beec,#388be6);
}
.btn-red {
    border-color: #621b12;
    background-color: #e7705a;
    background-image: -webkit-linear-gradient(top,#e7705a,#b72234);
    background-image: -ms-linear-gradient(top,#e7705a,#b72234);
    background-image: linear-gradient(top,#e7705a,#b72234);
}
.btn-red:active {
    background-color: #e7705a;
    background-image: -webkit-linear-gradient(bottom,#e7705a,#b72234);
    background-image: -ms-linear-gradient(bottom,#e7705a,#b72234);
    background-image: linear-gradient(bottom,#e7705a,#b72234);
}
.btn-black {
    border-color: #0c0c0c;
    background-color: #404040;
    background-image: -webkit-linear-gradient(top,#404040,#0d0d0d);
    background-image: -ms-linear-gradient(top,#404040,#0d0d0d);
    background-image: linear-gradient(top,#404040,#0d0d0d);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3),inset 0 0 0 1px rgba(255,255,255,0.15);
}
.btn-black:active {
    background-color: #404040;
    background-image: -webkit-linear-gradient(bottom,#404040,#0d0d0d);
    background-image: -ms-linear-gradient(bottom,#404040,#0d0d0d);
    background-image: linear-gradient(bottom,#404040,#0d0d0d);
}
[disabled], .disabled {
    cursor: not-allowed;
    opacity: .75;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Form Elements */
label { cursor: pointer }
input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
    height: 16px;
    margin: 0;
    width: 16px;
    opacity: 0;
}
input[type='checkbox']+span, input[type='radio']+span {
    background: url(../img/form.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    left: -16px;
    z-index: -1;
}
input[type='checkbox']:checked+span { background-position: -16px 0 }
input[type='radio']+span { background-position: 0 -16px }
input[type='radio']:checked+span { background-position: -16px -16px }

/* Toggles */
.toggle {
    cursor: pointer;
    background: url(../img/toggle.png);
    border-radius: 11px;
    border-right: 1px solid #929292;
    display: inline-block;
    height: 22px;
    width: 56px;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}
.toggle.on { background-position: 34px 0 }

/* Slider */
.ui-slider {
    background-color: #979797;
    background-image: -webkit-linear-gradient(top,#979797,#b4b4b4);
    background-image: -ms-linear-gradient(top,#979797,#b4b4b4);
    background-image: linear-gradient(top,#979797,#b4b4b4);
    border: 1px solid #808080;
    border-radius: 3px;
    height: 6px;
}
.ui-slider .ui-slider-range-min {
    background-color: #535353;
    background-image: -webkit-linear-gradient(top,#535353,gray);
    background-image: -ms-linear-gradient(top,#535353,gray);
    background-image: linear-gradient(top,#535353,gray);
    border: 1px solid #424242;
}
.ui-slider .ui-slider-handle {
    background: url(../img/form.png) -32px 0 no-repeat;
    cursor: ew-resize;
    display: inline-block;
    height: 16px;
    margin-left: -7px;
    outline: 0;
    top: -5px;
    width: 15px;
}
.ui-progressbar {
    background-color: #ababab;
    background-image: -webkit-linear-gradient(top,#ababab,#cacaca);
    background-image: -ms-linear-gradient(top,#ababab,#cacaca);
    background-image: linear-gradient(top,#ababab,#cacaca);
    border: 1px solid #424242;
    border-radius: 5px;
    cursor: progress;
    height: 10px;
}
.ui-progressbar .ui-progressbar-value {
    background-color: #515151;
    background-image: -webkit-linear-gradient(top,#515151,#878787);
    background-image: -ms-linear-gradient(top,#515151,#878787);
    background-image: linear-gradient(top,#515151,#878787);
    border-right: 1px solid #424242;
}

/* Text Fields */
input:focus, textarea:focus { outline: 0 }
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    -o-appearance: textfield;
    appearance: textfield;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(top,#f7f7f7,white);
    background-image: -ms-linear-gradient(top,#f7f7f7,white);
    background-image: linear-gradient(top,#f7f7f7,white);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Droid Sans",Verdana,Geneva,sans-serif;
    margin: 10px 0;
    padding: 7px;
}
input[placeholder]::-webkit-input-placeholder { color: #b0b0b0 }
input[placeholder]:-moz-placeholder { color: #b0b0b0 }
input[placeholder]:-ms-input-placeholder { color: #b0b0b0 }
textarea { overflow-y: auto }
input[type='search'] {
    background-image: url("../img/search.png"),-webkit-linear-gradient(#f7f7f7,white);
    background-image: url("../img/search.png"),-ms-linear-gradient(#f7f7f7,white);
    background-image: url("../img/search.png"),linear-gradient(#f7f7f7,white);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

/* Icons */
[class^='icon-']:before, [class$='icon-']:before {
    font-family: econ;
    font-size: 19px;
    height: 19px;
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 19px;
}
i[class*='icon-'] {
    font-style: normal;
    line-height: 1;
}
.icon-e:before { content: 'A' }
.icon-right:before { content: 'C' }
.icon-down:before { content: 'D' }
.icon-hardright:before { content: 'E' }
.icon-harddown:before { content: 'F' }
.icon-left:before { content: 'G' }
.icon-hardleft:before { content: 'H' }
.icon-up:before { content: 'I' }
.icon-hardup:before { content: 'J' }
.icon-home:before { content: 'K' }
.icon-docleft:before { content: 'L' }
.icon-docright:before { content: 'M' }
.icon-closeleft:before { content: 'N' }
.icon-closeright:before { content: 'O' }
.icon-minus:before { content: 'P' }
.icon-check:before { content: 'Q' }
.icon-error:before { content: 'R' }
.icon-gear:before { content: 'S' }
.icon-docs:before { content: 'T' }
.icon-download:before { content: 'U' }
.icon-movie:before { content: 'V' }
.icon-hdd:before { content: 'W' }
.icon-search:before { content: 'X' }
.icon-circle:before { content: 'Y' }
.icon-close:before { content: 'Z' }
.icon-print:before { content: 'a' }
.icon-doccopy:before { content: 'b' }
.icon-bluetooth:before { content: 'c' }
.icon-bullet:before { content: 'd' }
.icon-star:before { content: 'e' }
.icon-plus:before { content: 'f' }
.icon-power:before { content: 'g' }
.icon-refresh:before { content: 'h' }
.icon-music:before { content: 'i' }
.icon-globe:before { content: 'j' }
.icon-info:before { content: 'k' }
.icon-adduser:before { content: 'l' }
.icon-user:before { content: 'm' }
.icon-secure:before { content: 'n' }
.icon-unsecure:before { content: 'o' }
.icon-lock:before { content: 'p' }
.icon-unlock:before { content: 'q' }
.icon-settings:before { content: 'r' }
.icon-play:before { content: 's' }
.icon-pause:before { content: 't' }
.icon-forward:before { content: 'u' }
.icon-rewind:before { content: 'v' }
.icon-eject:before { content: 'w' }
.icon-skip:before { content: 'x' }
.icon-shuffle:before { content: 'y' }
.icon-repeat:before { content: 'z' }
.icon-repeatone:before { content: '1' }
.icon-returnleft:before { content: '2' }
.icon-returnright:before { content: '3' }
.icon-largefont:before { content: '4' }
.icon-smallfont:before { content: '5' }
.icon-camera:before { content: '8' }
.icon-video:before { content: '9' }
.icon-mic:before { content: '0' }
.icon-micremove:before { content: '!' }
.icon-micone:before { content: '\0022' }
.icon-mictwo:before { content: '\00A3' }
.icon-micthree:before { content: '%' }
.icon-soundoff:before { content: '^' }
.icon-soundlow:before { content: '&' }
.icon-soundmed:before { content: '*' }
.icon-soundhi:before { content: '(' }
.icon-wifioff:before { content: ')' }
.icon-wifilow:before { content: '-' }
.icon-wifimed:before { content: '_' }
.icon-wifihi:before { content: '=' }
.icon-wifimax:before { content: '+' }
.icon-col:before { content: '[' }
.icon-carousel:before { content: ']' }
.icon-list:before { content: '{' }
.icon-listicons:before { content: '}' }
.icon-grid:before { content: ';' }
.icon-details:before { content: ':' }